body {
    text-align: center;
    background-color: #000;
    .logo {
        text-indent: -1000000px;
        margin: 20% auto 0;
        @include inline-block;
        @include sprites('logo_purple');
    }
}