$sprites-layout: smart;
$sprites-spacing: 2px;
@import "sprites/*.png";

@mixin sprites($name){
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);	
    @include sprites-sprite($name);
}

@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}